*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

html,body{
    height: 100%;
}

.sidebar{
    float: left;
    width: 250px;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    background-color: black;
    overflow-x: hidden;
}

.sidebar__wraper{
    padding-bottom: 200px;
}

.sidebar__logo{
    max-width: 250px;
    width: 100%;
    margin: 20px;
    color: rgb(190, 190, 190);
}

.sidebar__logo i{
    font-size: 30px;
    margin: 20px;
}

.sidebar__menu{
    margin: 20px 0;
    color: rgb(190, 190, 190);
}

.sidebar__menu a{
    color: rgb(190, 190, 190);
    text-decoration: none;
    display: block;
    padding: 10px 0;
    margin: 0;
}

.sidebar__menu i{
    margin: 0 20px;
}

.sidebar__menu a.sidebar__menu__selecionado{
    color:white;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
}

.sidebar__menu__item{
    margin-top: 12px;
    cursor: pointer;
    vertical-align: middle;
}

.sidebar__menu p.sidebar__menu__title{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}